<div class="col-md-2 poster_bar_left">
	<span class="choice_label glyphicon glyphicon-unchecked"></span>
</div>
<div class="col-md-10 poster_bar_right">
	<div class="post-box-profile-img-container">
		<%= image_tag("default.png", :alt => "+", :class => "profile-pic-container")%>

	</div>
	<div class="post-box-profile-info-container">
		<div class="post-box-profile-info">
			<span class="profile-info-name"><%=user.display_name%></span>
			
		</div>
		<div class="profile-info-description">

		</div>
	</div>
</div>