<div class = "debate-content" id = "prompt_join_box_<%= topic.id%>">
	<div class = "row">
		<div class = "col-md-12">
			<div class = "join_prompt_container">
				waiting for <strong><%= topic.get_challengee.display_name%></strong> to respond.
				<div class = "small_devider"></div>
				
			</div>
		</div>
	</div>
</div>