
<div class = "small_devider"></div>
<div id = "evidence_container_<%= argument.id%>"  class = "evidence_container hidden">
	<ul>
		<% unless argument.class == String %>	
		
		
		<li>
			<%= render partial: "posts/partials/evidence_row", locals: {evidence: argument.evidence} %>
			<div class = "small_devider"></div>
		</li>
		
		<%end%>
		
	</ul>
</div>
<script type="text/javascript">
$("#show_evidence_btn_<%= argument.id%>").click(function(){
	$("#evidence_container_<%= argument.id%>").toggleClass("hidden");
});
</script>