  <li>
    <div class = "col-md-10  timeable_test">
      <div class="rounded-edges panel  panel-default">
        <div class="panel-body">
          <div class = "row">

          </div>
          <div class = "row">
            <div class = "col-md-12">
              <div class = "post-box-profile-img-container">
               <%= image_tag("default.png", :alt => "+", :class => "profile-pic-container")%>

             </div>

             <div class = "post-box-profile-info-container">
              <div class = "post-box-profile-info">
                <span class = "profile-info-name"><%= Account.find(argument.account_id).display_name%></span>
                <span class = "profile-info-meta"> <% 
                difference = Time.now - argument.updated_at
                if difference >= 3600
                  timestamp = pluralize(((difference/3600).round), 'hour') 
                elsif difference >= 60
                  timestamp = pluralize(((difference/60).round), 'minute') 
                else
                 "A few seconds ago"
               end



               %>
               <%= timestamp%> </span>
             </div>
             <div class = "profile-info-description">

             </div>
           </div>
         </div>
       </div>
       <div class = "row" style = "margin-top: 10px;">
        <div class = "argument-text col-md-12">

          <div class = "reply-box">
            <div class="form-group">    
              <p><%= argument.content.content_body%></p>
            </div> 
          </div>



        </div>
      </div>
      <div class = "row social-icons-box">
        <div class ="col-md-12">

        </div>
      </div>
      <div class = "row">

      </div>
    </div>
  </div>
</div>
<div class = "col-md-2">
</div>
<div style = "clear:both"></div>
</li>