<li>
	<div class = "small_devider"></div>
	<div class="evidence_body media">
		<div class="media-left">
			<a href="#">
				<img class="media-object" data-src="holder.js/64x64" alt="64x64" src="<%= ogp_object.images.first%>" data-holder-rendered="true" style="width: 64px; height: 64px;">
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading"><%= ogp_object.title%></h4>
			<%= ogp_object.description%>
		</div>
		<div>
			<input type = "hidden" class ="evidence_ogp_url" value = "<%= ogp_object.url%>"> 
		</div>
	</div>
</li>