<div class="container container-main">
    <div class="row">

        <!-- left navigation pane -->
        
        <div class = "col-md-3">

        </div>


        <!-- main content area -->
        <div class = "col-xs-12 col-md-6">
            <%= render(:partial => "post_creator_template",:locals =>{:id=> @debate_post[:debate_id]} )%>
         <div id = "main-content-wrapper"  style ="margin-top: 10px;">
            <% @debate_post[:posts].each do |argument|%>
             <%= render(:partial =>  DebateParticipation.find_by_account_id_and_debate_id(argument.account_id, argument.debate_id).side == 'left_side' ? 'left': 'right' , :locals =>{:argument=> argument}) %> 
             
             <%end%>

             <%= subscribe_to "/posts/create" %>


         </div>
     </div>




    <!-- right navigation pane -->

    <div class = "col-md-3">
        
    </div>  

</div>
</div>