<!-- local variable: argument (a post object) -->

<div class="panel panel-default panel-main">


  <div class="panel-heading" style = ":background-color: white;">
    <div class = "user-info-container">
      <div class = "col-md-4">

      </div>
      <div class = "col-md-8" style ="text-align:right;">
        <div class = "user-info-description-right">
          <span class = "user-info-name"><%= Account.find(argument.account_id).display_name%></span> </br>
          <div class = "user-info-time"><span>Last Post</span> - <span>Jun 27, 2014</span> </div>
        </div>
        <%= image_tag(Account.find(argument.account_id).images.profile_pic.first.url, :size => "50x50", :alt => "+", :class => "debater-right-pic")%>
      </div>   
    </div>





  </div>

  

  <div class="panel-body">
    


    <hr>
    <div class = "social-box text-social">
      <div class = "col-md-8">
        Convincing<span class ="social-box-stat">43+</span>&nbsp;&nbsp;    Weak <span class ="social-box-stat">17+</span> &nbsp;&nbsp;&nbsp;   <span class = "comments-button cursor-pointer"> Comments </span><span class ="comments_count social-box-stat">43+</span> 
      </div>
    </div>

    <!-- Comments Area  -->
    <div class = "post-comment-box hidden">
      <hr>
      <%= render(:partial => "comment_box",:locals =>{:argument=>argument} )%>      

    </div>

    <!-- End of comments Area -->
  </div>
</div>

