
<div class = "comments_body_container">
	<div class = "row">
		<div class = "col-md-6">
			<strong><%= Account.find(comment.account_id).display_name%></strong>
		</div>

	</div>
	<div class = "row">
		<div class = "col-md-12">
			<p class = "comment_content">
				<%= comment.content.content_body%>
			</p>
		</div>
	</div>

</div>
