	<div class = "comments_body_container">
	<div class = "row">
		<div class = "col-md-6">
			<header class = "comment_title">
				<%= Account.find(comment.account_id).display_name%>
			</header>
		</div>
		
	</div>
	<div class = "row">
		<div class = "col-md-12">
			<p class = "comment_content">
				<%= comment.content.content_body%>
			</p>
		</div>
	</div>
	<div class = "small_devider"></div>
	<div class = "row">
		<div class = "col-md-12">
			
		
		</div>
	</div>
</div>