<div class="container-fluid">
    <div class="row">

        <!-- left navigation pane -->
        
        <div class = "col-md-3 col-xs-12">          

        </div>

        <!-- main content area -->
        <div id = "main-content-container" class = " col-md-6">
            <ul>
                <% if session[:logged_in]%>
                <li>
                    <%= render(:partial => "topics/partials/topic_creator") %>
                </li>
                <% end %>

                <% @topics.each do |topic|%>
                <li>
                    <%= render(:partial => "topics/partials/topic_index", :locals => {:topic => topic}) %>
                </li>
                <%end%> 
            </ul>
        </div>
        <!-- right navigation pane -->
        <div class = "col-md-3">

        </div>  
    </div>
</div>
<script type="text/javascript">
$(".topic_index_pannel").click(function(){
    console.log()
    window.location.href = "<%= root_url%>" + "topics/"+$(this).attr("topic-id");
});

</script>
