<div class="container">
    <div class="row">

        <!-- left navigation pane -->
        
        <div class = "col-md-3 col-xs-12">          

        </div>

        <!-- main content area -->
        <div id = "main-content-container" class = " col-md-6">
            <ul>
                <% if account_signed_in?%>
                <li>
                    <%= render(:partial => "topics/partials/topic_creator") %>
                </li>
                <% end %>

                <% @topics.each do |topic|%>
                <li>
                    <%= render(:partial => "topics/partials/topic_index", :locals => {:topic => topic}) %>
                </li>
                <%end%> 
            </ul>
        </div>
        <!-- right navigation pane -->
        <div class = "col-md-3">

        </div>  
    </div>
</div>
<%= subscribe_to "/topics/main" %>
