<div class="panel panel-default panel-main">


  <div class="panel-heading" style = ":background-color: white;">
    <div class = "user-info-container">
      <div class = "col-md-4">

      </div>
      <div class = "col-md-8" style ="text-align:right;">
        <div class = "user-info-description-right">
          <span class = "user-info-name">John Somebody</span> </br>
          <div class = "user-info-time"><span>Last Post</span> - <span>Jun 27, 2014</span> </div>
        </div>
        <%= image_tag("toucan_left.jpg", :size => "50x50", :alt => "+", :class => "debater-right-pic")%>
      </div>   
    </div>





  </div>

  

  <div class="panel-body">
   


    <hr>
    <div class = "social-box text-social">
      <div class = "col-md-8">
        Convincing<span class ="social-box-stat">43+</span>&nbsp;&nbsp;    Weak <span class ="social-box-stat">17+</span> &nbsp;&nbsp;&nbsp;   <span class = "comments-button cursor-pointer"> Comments </span><span class ="comments_count social-box-stat">43+</span> 
      </div>
    </div>

    <!-- Comments Area  -->
<div class = "post-comment-box hidden">
<hr>
<div class="bs-example" data-example-id="media-list">
    <ul class="media-list">
      <li class="media">
        
        <div class="media-left">
          <a href="#">
            <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjE0LjUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="width: 64px; height: 64px;">
          </a>
        </div>
        <div class="media-body">
          <%= form_for(:comment, :remote => true, :url => { :action => 'fake_test'}, :role => "form", :class => "comment_form") do |arg_comm| %>
                  <div class="form-group">
                    
                    <%= arg_comm.hidden_field :post_id, :value =>  '2' %>
                    
                  </div>
                    <%= submit_tag("Submit", :class => "btn btn-success btn-sm pull-right comment-input-button") %>
                  <% end %>
        </div>
      </li>
      <script>
      

    $('.comment-input-button').click(function(){

        
        $(this).parent().on("ajax:success", function(e, data, status, xhr) 
        { 
            
            
        })

                        .on("ajax:error", function(e, xhr, status, error)  { console.log('failure');});
     

    });

      </script>
      
    </ul>
  </div>
            

</div>

<!-- End of comments Area -->
</div>
</div>

