 <div class = "admin_login_main">
 <% if flash[:notice] == "--Failed-Login--"%>
      <div class="alert alert-danger" role="alert">Invalid username and/password. Please try again</div>
<%end%>


<%= form_for(:account, :url => {:controller => 'access', :action => 'attempt_login'}, :role => 'form', :class => "form-horizontal") do |f| %>
  <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
      <%= f.text_field(:email, :class => "form-control", :placeholder => "Email Address", :tabindex =>'4')%>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <%= f.password_field(:password, :class => "form-control", :placeholder => "Password", :tabindex =>'5')%>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox"> Remember me
      </label>
      <button type="submit" class="btn">Sign in</button>
    </div>
  </div>

<%end%>
</div>