<div class="container">
 <div id="blog" class="row"> 

  <div class="col-sm-2 paddingTop20">
   <%= render partial: "admin/side_bar"%>
    <div><h2 class="add"></h2></div>
  </div>
  <div class="col-md-10 blogShort">
<ul>
    
    

    <% @topic.debates.each do |debate|%>
    <div class = "row">
      
      
      <div class = "col-md-3">
        <%= link_to action: "debate_summary", id: debate.id do %>
            <span class = 'btn btn-primary btn-sm', style = "width: 90px;"> 
            <i class="fa fa-cog"></i> Summary 
            </span>
           <% end %>
           <div class = "small_devider"></div>
            <%= link_to debate_path(debate), method: :delete, remote: true , :class => 'btn btn-danger btn-sm', :style => "width: 90px;"  do %>
            <i class="fa fa-trash-o fa-sm"></i> Delete </a>
           <% end %>
      </div>
      
    </div>
    <%end %>
</ul>
  </div>

 <div class="col-md-12 gap10"></div>
</div>
</div>