
<div class = "container">
	<div class = "col-md-2">
	</div>
	<div class = "col-md-8">

		<%= render partial: "posts/partials/left_post", locals: {debate: Debate.first, argument: Post.first, box_type: "input"} %>
		
	</div>
	<div class = "col-md-2">
	</div>

</div>