<% publish_to @path do %>
	$("[temporary = 'true']").remove();
	
	var left_side = 'left_side';
	var right_side = 'right_side';
	//look for
	$('#main_content_wrapper').append(
		"<%= escape_javascript render(:partial => @argument.get_side == 'left_side' ? 'posts/partials/left_post': 'posts/partials/right_post', :locals =>{:argument=>@argument, :box_type => 'post', :debate => ''}) %>"
		);
	<% unless @argument.get_debate.is_over 5%>
	if($('#user_id_holder').attr('user-side') == <%= @side %>  ){
	
	
	$('#main_content_wrapper').append(
		"<%= escape_javascript render(:partial => @argument.get_debate.get_turn == 'left_side' ? 'posts/partials/left_post': 'posts/partials/right_post' , :locals =>{:argument => @argument, :box_type => 'input', :debate => @argument.get_debate})%>");
	$('.profile-info-name').last().text($('#user_name_holder').attr('user-name'));
	}
  	<% else %>
  	$("#status_label").html("<span class='label label-danger'>Over</span>");
  	
  	<%end %>
	window.scrollBy(0, 500);
	
<% end %>
     
