$brandThemeColor: #FF0000;
.left_slid{
	left: 0px;
}
.right_slid{
	left: 115px;
}

.comments_container{
  margin-top: -20px;
  margin-bottom: 20px;
}
.off_the_roof{
  			position: absolute;
  			top: -1000px;
  		}
.glow_red{
	box-shadow: 1px 0px 10px lighten($brandThemeColor, 30%);
}

.comment_list{

}
.comment_container_main{
  		background-color: rgba(240,240,240, 0.2);
  		width: 100%;
      list-style: none;
  		font-family: Lato, helvetica;
  		
  		padding: 10px;
  		
  		border: 1px solid rgb(220, 220, 220);
	    .comment_list{
        overflow-y: hidden;
        overflow-x: hidden !important;
         max-height: 400px;
        &:hover {
          overflow-y: auto;

        }
      }
  		
  		.comment_title{
  			padding-top: 10px;
  			padding-bottom: 10px;
  		}
      
      .comment_textarea{
        resize: vertical-text;
      }
  		.comment_content{
  			font-weight: lighter;
  		}
  		.comment_input_btn{
  			 background-color: lighten($brandThemeColor, 10%);
  			 border-color: $brandThemeColor;
  			 &:hover{
  			 	background-color: lighten($brandThemeColor, 2%)
  			 }
  		}
  		.spinner_container{
  			color: $brandThemeColor;
  			margin: 100px auto;
  			text-align: center;
  			.fa-spin{
  			-webkit-animation: fa-spin 2s infinite linear;
  			animation: fa-spin 2s infinite linear;
  			}
  		}

  	}