.left_slid {
  left: 0px;
}

.right_slid {
  left: 115px;
}

.off_the_roof {
  position: absolute;
  top: -1000px;
}

.comment_container_main {
  background-color: rgba(240, 240, 240, 0.2);
  width: 100%;
  font-family: Lato;
  font-weight: bolder;
  padding: 10px;
  height: 600px;
  border: 1px solid gainsboro;
  overflow-y: scroll;
}

.comment_container_main textarea {
  overflow-y: sw-resize;
}

.comment_container_main .comment_title {
  padding-top: 10px;
  padding-bottom: 10px;
}

.comment_container_main .comment_content {
  font-weight: lighter;
}

.comment_container_main .comment_input_btn {
  background-color: #ff3333;
  border-color: #FF0000;
}

.comment_container_main .comment_input_btn:hover {
  background-color: #ff0a0a;
}

.comment_container_main .spinner_container {
  color: #FF0000;
  margin: 100px auto;
  text-align: center;
}

.comment_container_main .spinner_container .fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
