@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);


.panel-main {
    position: relative;
    border-radius: 0px;
    border: 1px solid rgb(216, 216, 216);
    font-family: Helvetica, sans-serif;
}
.debate-title{

    margin-left: 13px;

}
#dnd-area{
    width: 100%;
    height: 300px;
    border: 3px dashed grey;
}
.panel > .panel-heading  {
  color: #333;
  background-color: white  !important;
  border-color: #fff !important;
}

.panel-main > .dropdown {
    position: absolute;
    top: 5px;
    right: 15px;
}
.panel-main > .dropdown > span > span {
    font-size: 10px;   
}
.panel-main > .dropdown > .dropdown-menu {
    left: initial;
    right: 0px;
    border-radius: 2px;
}

.panel-main > .panel-main-tags > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.header-vs{
    text-align: center;
}

.panel-main > .panel-heading > .col-md-4,
.panel-main > .panel-footer {
    background-color: rgb(255, 255, 255);
    border-width: 0px; 
}
.panel-main > .panel-heading > .col-md-4 {
    margin-top: 20px;    
    padding-bottom: 5px; 
}
.panel-main > .panel-heading > .col-md-4 > .debater-left-pic { 
    margin-right: 15px;
}
.panel-main > .panel-heading > .col-md-4 > .debater-right-pic { 
    margin-left: 15px;
}
.panel-main > .panel-heading > .col-md-4 > h3 {
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
}
.panel-main > .panel-heading> .col-md-4 > h5 {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
}
.debater-right{
    float: right;
    text-align: right;

}
.debater-right-pic
{
    float: right;
}
/*.panel-main > .panel-body {
    margin-left: 13px;
    padding-top: 5px;
    margin-top: 10px;
    font-size: 12px;
}*/
.debate-content{
    margin-left: 13px;
    padding-top: 5px;
    margin-top: 10px;
    
}


.debate-title > hr{

    
    margin-top: 0px;
}
.panel-main > .panel-body > .panel-main-image {
    display: block;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(217, 217, 217);
}
.panel-main > .panel-body > .panel-main-image > img {
    max-width: 100%;
}
.panel-body >hr{
    margin-bottom: 5px;
}
/*.panel-body .col-md-8{
    padding-left: 0px;
}
.panel-body .col-md-4{
    padding-right: 0px;
}
.social-box{
    min-height: 30px;
    
}*/
.social-box-stat{

    // background-color: rgb(230,230,255);
    padding: 3px;
    border-radius: 3px;
    margin-left: 5px;

}
.social-box-right{
    text-align: right;
}

.panel-main > .panel-footer {
    padding-top: 0px !important; 
}


.panel-main > .panel-main-comment {
    display: none;
    padding: 10px 20px 15px;
    border-top: 1px solid rgb(229, 229, 229);
    background-color: rgb(245, 245, 245);
}
.panel-main.panel-main-show-comment > .panel-main-comment {
    display: block;
}
/*.panel-main > .panel-main-comment > img {
    float: left;   
}*/
.panel-main > .panel-main-comment > .panel-main-textarea {
    float: right;
    width: calc(100% - 56px);
}
.panel-main > .panel-main-comment > .panel-main-textarea > textarea {
    display: block;
    /*margin-left: 60px;
    width: calc(100% - 56px);*/
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
    resize: vertical;
}
.panel-main > .panel-main-comment > .panel-main-textarea > .btn {
    margin-top: 10px;
    margin-right: 8px;
    width: 100%;
}
@media (min-width: 992px) {
    .panel-main > .panel-main-comment > .panel-main-textarea > .btn {
        width: auto;
    }    
}


.panel-main .btn {
    border-radius: 3px;   
}
.panel-main .btn-default {
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel-main .btn-default:hover, 
.panel-main .btn-default:focus, 
.panel-main .btn-default:active {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);    
}

/* topics */

.user-info-container{

    height: 50px;

}
.user-info-container > .col-md-8{

    height: 50px !important; 

}
.user-info-description{
    width: 82%;
    height: inherit;
    float:right;
    font-size: 12px;
}
.user-info-description-right{
    width: 82%;
    height: inherit;
    float:left;
    font-size: 12px;
}
.user-info-name{
    font-size: 14px;
    font-weight: bold;

}
.user-info-time
{
    color: rgb(153, 153, 153);
}
.panel-body-content
{
    width: 100%;
    
    
}
.panel-body-debaters{
    margin-top: 10px;
     width: 100%;
   
    

}
.debater-container
{
    margin-top: 10px;
     width: 100%;
    height: 100px;
   
}
.debater-img{
    float: left;
}

.debater-info{
    float: right;
    width: 80%;
   
    height: inherit;
}
.debater-info-name{
    height: 30%;

}
.debater-side-statement{
    height: 70%;
    font-size: 17px; 

}

/*.hidden{

    height: 0px;
    visibility: hidden;
}*/

.debater-img-open
{
    width: 100px;
    height: 100px;
    color: rgb(147,147,147);
    background-color: rgb(240,240,240);
    border: 1px solid rgb(220,220,220);
    font-size: 25px;
    padding-left: 12px;
    line-height: 3.6;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);

}
/* reply */
.content-box{

    max-width: 100%;
    margin-top: 15px;
}
.content-box> textarea{

    max-width: 100%;
}
.reply-btn{
    margin-top: 10px;
    text-align: right;
}
.topic-box{
    margin-top: 15px;
}
.new-post-label{
      color: rgb(153, 153, 153);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
    margin-left: 17px;
}
/* separator types*/
.default-separator
{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 94%;
}

/*different text types*/
.text-description{
    font-size: 14px;

}
.text-comment{
     font-size: 13px;
}
.text-debate-info{
    font-size: 12px !important;
    padding-top: 3px;
    padding-bottom:10px;
    color: rgb(153, 153, 153);

}
.text-name{
    font-size: 14px;
    font-weight: bold;
}
.text-social{
    color: rgb(153, 153, 153);
    font-size: 13px;
    line-height: 2.5;
}
/* no debater panel styles */
.no-debaters-notice-container{
    width: 100%;
    padding: 10px 15px;

}
.no-debaters-notice{
    color: rgb(153, 153, 153);
    width: 80%;
    float: left;
}
.no-debaters-join-btn{
    width: 20%;
    float: right;
}







/* not yet refined */
.left-navigation-pane{
    
}
.profile-info-container{
    height: 270px;
    width: 270px;
    background-color: rgb(245,245,245);
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;


}
.profile-info-container-inner{
     margin-top: 5px;
    margin-left: 5px;
}
.profile-pic-main{
  

}
.profile-info-main{
    font-family: "helvetica";
    font-weight: bold;
    font-size: 16px;
    width: 270px;
    height: 30px;
    margin-top: 10px;
    
    /*text-align: center;*/

}



.left-navigation-popular
{
    height: 300px;
}
.left-navigation-hot-topics
{
    height: 300px;
}
.right-navigation-pane{
    height: 400px;
    background-color: white;
    border: 1px solid rgb(216, 216, 216);
    position: fixed;
    width: 270px;
}
.test_div{
    margin: 100px auto;
    width: 700px;
    text-align: center;
    border: 1px solid red;
   
}
.debaters-select-side-container{
background-color: rgb(250,250,250);
border: 1px solid rgb(230,230,230);
}
.debaters-select-side-choices{
    margin-left: 20px;
    margin-top: 20px;
    background-color: rgb(250,250,250);
    
}
.debaters-select-side-label{
    font-weight: 200;
}
.debaters-select-side-btn{

}
.post-comment-box{
    width: 100%;


}
.cursor-pointer{
     cursor: pointer; 
}
.comment-input-box-main{
    width: 100%;
    height: 100px;
    background-color: red;
}
.comment-reply-button{
    font-size: 11px;
}
.comment-social{
    margin-top: -15px;
}
.comment-input-left{
    float:left;
}
.comment-input-right{
    float: right;
    width: 85.53333%;
}
.comment-input-button{
    margin-top: -10px;
    
}
.comment-input-right-nested{
    float: right;
    width: 83.53333%;
}
.comment-text{
    font-size: 13px;
}
.navbar-profile-info-container-dd{

    margin-top: 20px;


}
.shorter-style{
    height: 100px;
}
.profile-info-details{

}
.profile-info-details-inner{
    font-size: 12px;  
    color: rgb(150,150,150); 
    margin-top: 5px; 
}
.navbar-login-container-dd{

    margin-top: 20px;
    width: 400px;
    padding-bottom:20px;

}
.replies_container{
    list-style: none;
    margin-top: 20px;
}
.replies_container >li{
    margin-top: 10px;
}
.admin_index_main{
  padding-top: 20px;
  background-color: white;
  min-height: 600px;
  margin-top: 40px;

}
.admin_sidebar{
  position: fixed;
}
.admin_main_content{
  margin-top: 20px;
}
.admin_stats_info_container
{
  border: 1px solid rgb(236, 227, 227);
margin: auto;
margin-left: 15px;
margin-top: -1px;
width: 97%;
}

.admin_login_main
{
  
  margin: 100px auto;
  width: 20%;
}

/* members week additions */
.popular-topics-display{
    margin-top: 20px;
   
}
.popular-topics-display-link{
    
    font-size: 12px;
    color:  #2B4D36;
}
.popular-topics-display-link:hover{
    
    font-size: 12px;
    color:  #2B4D36;
    text-decoration: none;
}
#debate_status_bar_container{
    height: 5px;
    width: 100%;
    
}
#debate_status_bar{
    height: 4px;
    width: 0%;
    background-color: white;
    
}



/* Additional styling*/

/*devide the task, put in the proper media query*/
.topic_button{
    text-align: center;
    padding-top: 5px;
    color: rgb(136, 136, 136);;
     text-shadow: 1px 1px white;
}
@media (max-width: 985px) {
  .topic_create_split_left {
    border-bottom: 1px solid rgb(205, 205, 205);
   
  
  }
  .topic_create_split_middle {
    border-top: 1px solid white;
    border-bottom: 1px solid rgb(205, 205, 205);
   
  }
  .topic_create_split_right {
    border-top: 2px solid white;
    
  }
}
@media (min-width: 985px) {
 .topic_create_split_left {
     border-right: 1px solid rgb(205, 205, 205);
   
  }
  .topic_create_split_middle {
     border-left: 1px solid white;
     border-right: 1px solid rgb(205, 205, 205);
     
  }
   .topic_create_split_right {
     border-left: 2px solid white;
    
     
  }
}

textarea.topic_input_retracted{
     height: 40px;
}

.topic_input_text_area{
      
      font-family: helvetica;
      font-size: 20px;
}
.borderless_input_box{
    border: 0px solid white;
      border-radius: 0px;
}
.warning_division{
    height: 15px;
    font-size: 12px;
    color: red;
}

.info_text{
    font-size: 13px;
    color: rgb(100,100,100)
}
.small_devider{
    height: 10px;
}