/* Red */
/* Green * /
$bgDefault      : #2ecc71;
$bgHighlight    : #27ae60;
$colDefault     : #ecf0f1;
$colHover       : #d1ffed; /*/
/* Purple * /
$bgDefault      : #9b59b6;
$bgHighlight    : #8e44ad;
$colDefault     : #ecf0f1;
$colHover       : #ecdbff; /*/
/* Orange * /
$bgDefault      : #e67e22;
$bgHighlight    : #d35400;
$colDefault     : #ecf0f1;
$colHover       : #ffe6d1; /*/
/* --- Style --- */
.navbar-default {
  height: 40px;
  border-radius: 0px;
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0px 1px 5px #DFDFDF;
}

.navbar-default .navbar-brand {
  color: #FF0000;
  font-weight: bolder;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #FF0000;
}

.navbar-default .navbar-nav > li > a {
  height: 50px;
  color: #282828;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #282828;
}

.navbar-default .navbar-nav .active > a, .navbar-default .navbar-nav .active > a:hover, .navbar-default .navbar-nav .active > a:focus {
  border-bottom: 4px solid #FF0000;
  color: #282828;
  background-color: #fff;
}

.navbar-default .navbar-nav .open > a, .navbar-default .navbar-nav .open > a:hover, .navbar-default .navbar-nav .open > a:focus {
  color: #282828;
  background-color: #fff;
}

.navbar-default .navbar-nav .open > a .caret, .navbar-default .navbar-nav .open > a:hover .caret, .navbar-default .navbar-nav .open > a:focus .caret {
  border-top-color: #282828;
  border-bottom-color: #282828;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #282828;
  border-bottom-color: #282828;
  background-color: #fff;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #282828;
  border-bottom-color: #282828;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #282828;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #282828;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #282828;
    background-color: #fff;
  }
}

#topic_input_footer {
  background-color: #fff5f5;
}

.glyphicon-comment {
  color: #ff9999;
  cursor: pointer;
}

.glyphicon-comment:hover {
  color: #ff6666;
}

.btn-circle {
  background-color: #FF0000;
  border-color: #FF0000;
}

.btn-circle:hover {
  background-color: #ff9999;
}

.social-box-stat {
  background-color: #fff5f5;
}

.comment_container_main {
  width: 900px;
}

.notification_bar > a {
  color: #FF0000;
}