.main_body{

    background-image: url("../img/pat.png");
    background-repeat: repeat;
    padding: 60px 0px;

}


.comment-pane {
/*background: linear-gradient(135deg, rgb(136, 122, 111) 0%, rgb(38, 35, 28) 100%);*/
height: 550px;
overflow-y:scroll;

}
body {
	background-color: rgb(250,250,250);
	z-index: 1;
}
ul{
	list-style: none;
}
.rounded-edges{
	border-radius: 10px;

}

/*.post-left{
	margin-left: -40px;
}*/
.main-content-box{
	
	height: 550px; 
    overflow-y: scroll;

}
.profile-pic-container{
	width: 48px;
	height: 48px;
	border-radius: 5px;
	-moz-force-broken-image-icon: 1;
}
.social-icons-box{
	height: 20px;
}

/* hover comment box */

.hover-comment-box{
	width: 500px;
	height: 100px;
	background-color: white;
	border: 1px solid rgb(250,250,250);
	box-shadow: 0px 0px 15px rgb(155, 155, 155);
	padding: 20px;
	top: 0px;
	left: 0px;
	position: absolute;
	z-index: 2201;
}



/* end of hover comment box */


.comment-box {
	height: 75px;
	background-color: rgb(221, 221, 221);
	border-bottom: 1px solid rgb(215, 215, 215);
	padding: 10px;
	border-top: 1px solid rgb(215, 215, 215);
	width: 100%;
}
.comment-input-area{
	border: 1px solid rgb(185, 215, 199); 
}
textarea{
	resize: none;
	outline: none;
}



.P_1 {
   box-sizing: border-box;
	color: rgb(91, 91, 91);
	display: inline-block;
	height: 29px;
	max-width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 95%;
	perspective-origin: 51.8125px 14.5px;
	transform-origin: 51.8125px 14.5px;
	border: 0px none rgb(255, 255, 255);
	font: normal normal normal normal 12px/16.7999992370605px 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Garuda, Verdana, Tahoma, sans-serif;
	margin: 0px;
	outline: rgb(255, 255, 255) none 0px;
	overflow: hidden;
	padding: 8px 0px 0px 10px;
	transition: padding-top 0.25s ease 0s;
text-align: right;
}/*#P_1*/

.A_1 {
  box-sizing: border-box;
	color: rgb(44, 62, 80);
	display: block;
	float: left;
	height: 29px;
	max-width: 100%;
	position: relative;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 85.765625px;
	perspective-origin: 42.875px 14.5px;
	transform-origin: 42.875px 14.5px;
	border: 0px none rgb(255, 85, 0);
	font: normal normal normal normal 12px/16.7999992370605px 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Garuda, Verdana, Tahoma, sans-serif;
	outline: rgb(255, 85, 0) none 0px;
	overflow: hidden;
	padding: 8px 0px 0px 10px;
	transition: padding-top 0.25s ease 0s;
}/*#A_1*/

.A_1:hover{
	color: rgb(255, 85, 0);
	text-decoration: none;
}

.comment-display-container{

	height: 30px;
	
	padding-left: 5px;
	
	
}
.comment-display-content-container{
	width: 89%;
	float: left;
	
	height: inherit;

}
.comment-display-content-container-right{
	width: 89%;
	float: right;
	
	height: inherit;

}
.comment-display-image-container{
	width: 11%;
	float: right; 
	
	height: inherit;
}
.comment-display-image-container-right{
	width: 11%;
	float: left; 
	
	height: inherit;
}
.comment-display-content-body{
	
	width: 70%;
	float: left;
}
.comment-display-content-body-right{
	
	width: 70%;
	float: right;
}
.comment-display-content-name{
	
	width: 30%;
	float: right;

}
.comment-display-content-name-right{
	
	width: 30%;
	float: left;

}
.comments-right{
	margin-left: -35px;
}
.comments-left{
	margin-right: 5px;
}
.expanded-comment-box-left{
	margin-top: 10px;
	
	border-radius: 0px;
	border-left: 2px solid orange;
	width: 100%;
	margin-bottom: 10px;
	background-color: rgba(250,250,250, 0.1)
	

}
.expanded-comment-box-main-content{
	width: 100%;
text-align: left;
overflow-wrap: normal;
/* overflow: scroll; */
height: inherit;
white-space: normal;
}

.no-right-padding {
   padding-right: 0 !important;
   margin: 0 !important;
}
.post-box-profile-img-container{
	width: 48px;
	float: left;

}

.post-box-profile-info-wrapper{



}
.post-box-profile-info-container{
	/* float: right; */
height: 48px;
width: 280px;

margin-left: 55px;

}
.profile-info-name{
	font-size: 14px;
	font-weight: bold; 
}
.profile-info-meta{
	margin-left: 10px;
	font-size: 12px;
	  margin-right: 49px;
	color: rgb(110,123,123);

}
.post-box-profile-img-container-right
{
	width: 48px;
	float: right;
}
.post-box-profile-info-container-right{
	/* float: right; */
height: 48px;

text-align: right;
margin-right: 55px;

}
.glow_red {
	border-color: red;
	-webkit-box-shadow: 0 0 5px red;
	-moz-box-shadow: 0 0 5px red;
	box-shadow: 0 0 5px red;
}

.glow_yellow{

	border-color: yellow;
	-webkit-box-shadow: 0 0 5px yellow;
	-moz-box-shadow: 0 0 5px yellow;
	box-shadow: 0 0 5px yellow;

}