.profile-info-description{

}

.creating_rich_topic_banner{
  text-align: center;
  color: red;
  padding-top: 100px;
  // top: -150px;
  position: absolute;
  height: 333px;
  width: 100%;
  border-radius: 3px;
  background-color: white;
  z-index: 1005;
  opacity: 0.7;
}

.profile_box_outer_container{
  height: 170px;
  width: 100%;
  
}